body{
  color: #fff;
}

.flex-container {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.my-video{
  margin: 0 ;
  position: absolute;
  top: 50%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto;
}
.disp-video {
  margin: 0 ;
  position: absolute;
  bottom: 5%;
  left: 5%;
  -ms-transform: translate(-15%, -15%);
  transform: translate(-15%, -15%);
  height: 30%;
}
.container {
  align-items: center;
  justify-content: center;
  text-align: center;

}

.div-send-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-down {
  z-index: 2;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: auto;
}
