body {
  text-align: center;
  background-image: url("./image-from-rawpixel-id-516753-jpeg.jpg");
  background-size: cover;
  /* height: 100vh; */
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

video.pinned{
  margin: 0;
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.join {
  background: rgba(229, 213, 213, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 25vw;
  position: absolute;
  top: 25%;
  right: 5%;
  display: block;
  min-height: 50%;
}
.text {
  color: #56cbcc;
  margin: 20%;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 900;
}

.flex-container {
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 300px;
  justify-content: space-between;
  margin: 10px 20px auto auto;
}


video {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1024px-User-avatar.svg.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}
.my-video {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* height: auto; */
}
.disp-video {
  display: flex;
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 8%;
  -ms-transform: translate(-15%, -15%);
  transform: translate(-15%, -15%);
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1024px-User-avatar.svg.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  height: 30%;
}

.div-send-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-down {
  z-index: 2;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: auto;
}

