body {
  text-align: center;
  background-image: url("./image-from-rawpixel-id-516753-jpeg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  color: black;
}
.join {
  background: rgba(229, 213, 213, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 25vw;
  position: absolute;
  top: 25%;
  right: 5%;
  display: block;
  min-height: 50%;
}
.text {
  color: #56cbcc;
  margin: 20%;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 900;
}
Input {
  margin: 20px;
  color: #fff !important;
  border-color: #56cbcc;
}
